<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="/static/css/training.css" th:href="@{/css/training.css}" rel="stylesheet"/>
    <title>ItemCreateForm</title>
</head>

<body>
<h1 class="text-primary" >商品登録</h1>
<br>
<br>
<h4 class="text-primary">商品情報入力</h4>
<br>
<form method="post" th:action="@{/create/do}" th:object="${itemCreateForm}">
    商品名<br>
    <input type="text" class="form-control" name="name" th:field="*{name}">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error!</span>
    <br>
    値段<br>
    <input type="text" class="form-control" name="price" th:field="*{price}">
    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}">error!</span>
    <br>
    <input type="submit" class="btn btn-primary" value="登録"></input>
</form>
<br>
<br>
<a th:href="@{'/'}"><h5 class="text-primary">TOP</h5></a>



</body>
</html>