<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="/static/css/training.css" th:href="@{/css/training.css}" rel="stylesheet"/>
    <title>ItemCreateComplete</title>
</head>

<body>
<h1 class="text-primary" >商品登録</h1>
<br>
<br>
<h4 class="text-primary">商品登録完了</h4>
<br>
<h6 class="text-primary">商品の登録が完了しました。</h6>
<br>
<a th:href="@{'/'}"><h5 class="text-primary">TOP</h5></a>



</body>
</html>