<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
  <link href="/static/css/training.css" th:href="@{/css/training.css}" rel="stylesheet"/>
  <title>ItemList</title>
</head>

<body>
<h1 class="text-primary" th:text="${displayDate}+時点の商品一覧"></h1>
<br>
<br>
<h4 class="text-primary">商品名</h4>
<br>
<table class="table table-striped">
  <thead>
    <th>商品名</th>
  </thead>
  <tbody>
    <tr th:each="item:${items}" >
      <td>
        <a th:href="@{/delete/init(id=${item.id})}"><p th:text="${item.name}"></p></a>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<a th:href="@{'/'}"><h5 class="text-primary">TOP</h5></a>



</body>
</html>