<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="/static/css/training.css" th:href="@{/css/training.css}" rel="stylesheet"/>
    <title>TOP</title>
</head>

<body>
    <h2 class="text-primary">TOP</h2>
    <a th:href="@{'/read/init'}"><h4 class="text-primary">商品一覧</h4></a>
    <a th:href="@{'/create/init'}"><h4 class="text-primary">商品登録</h4></a>


</body>
</html>